.questionContainer {
    border: 2px dashed rgba(0, 0, 0, 0.45);
    height: 10vh;
    margin: 10px;
    width: 95%;
    display: flex;
}

.questionContainer:hover {
    cursor: pointer;
}

.labelContainer {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30%;
}